pre {
  margin: 0;
  code {
    display: block;
    padding: 18px 10px 18px 20px;
  }
}
code {
  font-size: 13px;
  overflow-x: auto;
  font-weight: 400;
  line-height: 22px;
  border-radius: 3px;
  margin-bottom: 25px;
  position: relative;
  word-break: break-all;
  white-space: pre-wrap;
  color: #455a64;
  background-color: #f1f4f8;
  padding: 2px 5px;
  margin-left: 1px;
  font-family: Source Code Pro,Monaco,Inconsolata,monospace;
}
.hljs{
  &-attr {
    color: #455a64;
  }
  &-string {
    color: #5758bb;
  }
}
.hljs-built_in, .hljs-doctag, .hljs-keyword, .hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-selector-tag, .hljs-strong, .hljs-tag, .hljs-title, .hljs-type {
  color: #0079f3;
}