html,body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
}
pre {
  margin: 10px 0;
  line-height: 1.75rem;
  code {
    display: block;
    padding: 18px 10px 18px 20px;
  }
}
code {
  font-size: 13px;
  overflow-x: auto;
  font-weight: 400;
  line-height: 22px;
  border-radius: 3px;
  margin-bottom: 25px;
  position: relative;
  word-break: break-all;
  white-space: pre-wrap;
  color: #455a64;
  background-color: #f1f4f8;
  padding: 2px 5px;
  margin-left: 1px;
  font-family: Source Code Pro,Monaco,Inconsolata,monospace;
}
p {
  code {
    background-color: #fff5f5;
    color: #ff502c;
    padding: 5px;
  }
}
.hljs{
  padding: 18px 15px 12px;
  &-attr {
    color: #99c794;
  }
  &-string {
    color: #5758bb;
  }
}
.hljs-built_in, .hljs-doctag, .hljs-keyword, .hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-selector-tag, .hljs-strong, .hljs-tag, .hljs-title, .hljs-type {
  color: #409EFF;
  font-family: Menlo,Monaco,Consolas,Courier,monospace;
}
.od-doc-content {
  h2 {
    margin-bottom: 50px;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  h4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  a {
    color: #409eff;
  }
}